{% load static %}
<div id="vmaig-links">
    <div class="panel panel-vmaig">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-link"></span>
                联系作者
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right" data-toggle="collapse"
                      data-target="#author"></span>
            </h3>
        </div>
        <div id="author" class="padding10 list-group collapse in">
{#            <img src="{% static 'img/author/gongzonghao.jpeg' %}" alt="..." class="img-rounded">#}
{#            <img src="{% static 'img/author/gongzonghao.jpeg' %}" alt="..." class="img-circle">#}
            <img src="{% static 'img/author/wx.jpeg' %}" alt="..." class="img-thumbnail" >
            <img src="{% static 'img/author/gongzonghao.jpeg' %}" alt="..." class="img-thumbnail">
        </div>
    </div>
</div>
