<div id="vmaig-links">
    <div class="panel panel-vmaig">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-link"></span>
                    友情链接 
                <span class="glyphicon glyphicon-remove btn panel-close pull-right"></span>
                <span class="glyphicon glyphicon-chevron-up btn panel-collapse pull-right"  data-toggle="collapse" data-target="#links"></span>
            </h3>
        </div>
        <div id="links" class="padding10 list-group collapse in">
            <a title="xxx" target="_blank" href="https://github.com/fandsimple" class="btn btn-vmaig btn-xs margin2">作者github</a>
            <a title="yyy" target="_blank" href="https://juejin.im/user/5d16dce16fb9a07ec95622aa/posts" class="btn btn-success btn-xs margin2">作者掘金账号</a>
        </div>
    </div>
</div>
